@value brand: '../../brand.module.css';
@value active, btn, container from brand;

.input {
    padding: 10px;
    width: 200px;
    max-width: 90%;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: black;
    border-bottom: 2px solid dark;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  
  .label {
    padding: 10px;
  }

  .error {
    color: red;
    width: 100%;
    padding: 5px 25px 10px 25px;
  }

  .formGroup {
    padding: 10px;
    font-size: 1.2rem;
  }
  .textArea {
    padding: 10px;
    width: 200px;
    max-width: 90%;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: black;
    border-bottom: 2px solid dark;
    border-top: none;
    border-left: none;
    border-right: none;
  }
    
