/* Colors */
@value active: #cd8b76;
@value dark: #183642;
@value border: #ffff00;
@value disabled: #6d435a;
@value white: #ffffff;
@value selected: #7c9082;

/* sizes */
@value borderRadiusLg: 20px;

@font-face {
  font-family: 'Darker Grotesque', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./alex-gruber-Fg3FrrEoYH4-unsplash.jpg);
  background-repeat: none;
}


.input {
  padding: 10px;
  width: 300px;
  max-width: 90%;
  font-size: 2rem;
  letter-spacing: 1px;
  color: white;
  border-radius: 10px;
}

.btn {
  margin-top: 1rem;
  padding: 10px 40px;
  background: dark;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
}

.message {
  color: black;
}

.error {
  color: red;
}

.container {
  max-width: 90%;
  background-color: white;
  border: 3px solid yellow;
  padding: 15px;
}

.formGroup {
  padding: 10px;
}

.nav {
  list-style-type: none;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}


.link {
  padding: 5px 10px;
  color: border;
  text-decoration: none;
  background: none;
  border: none;
  border-bottom: 2px solid active;
}

.heading {
  margin-bottom: 30px;
  color: black;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Darker Grotesque', sans-serif;
}

.title {
  color: dark;
  font-weight: 600;
  font-size: 4rem;
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 14px;
  display: flex;
  justify-content: center;
}

.subTitle {
  color: disabled;
  font-weight: normal;
  font-size: 16px;
  font-family: 'SF Text', sans-serif;
  line-height: 14px;
}

.box {
  background-color: white;
  border: 1px solid border;
  border-radius: 10px;
}

.markdown {
  color: black;
  font-size: 18px;
}

.markdown h1 {
  font-weight: bold;
  font-size: 26px;
}
.markdown h2 {
  font-weight: bold;
  font-size: 24px;
}
.markdown h3 {
  font-weight: bold;
  font-size: 20px;
}
.markdown h4 {
  font-weight: bold;
  font-size: 18px;
}

.markdown ul {
  padding-left: 20px;
  list-style: square;
}

.markdown ol {
  padding-left: 20px;
}

.markdown a {
  color: active;
}

.input {
  margin-bottom: 30px;
  color: black;
  background-color: dark;
  border-color: white;
}

.input:focus {
  border-color: active;
}
.input::placeholder {
  color: disabled;
}
