@value brand: '../../brand.module.css';
@value active from brand;


.nav {
    list-style-type: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

img {
    height: 10rem;
    width: 50%;
    border: 3px solid purple;
  }

.headerCont {
    border: 3px solid yellow;
    width: 90%;
}
 